HOST=
GEMINI_API_KEY=
NEXUS_ACTION_VERIFICATION_ENABLED=
NEXUS_ADAPTIVE_INTELLIGENCE_ENABLED=
NEXUS_AGENTS_ENABLED=
NEXUS_AGENT_APPROVAL_REQUIRED=
NEXUS_AGENT_AUTO_EXECUTE_SAFE_TASKS=
NEXUS_AGENT_CONTEXT_SCOPING=
NEXUS_AGENT_MAX_RETRIES=
NEXUS_AGENT_MAX_STEPS=
NEXUS_AGENT_MEMORY_INTEGRATION=
NEXUS_AGENT_ORCHESTRATION_ENABLED=
NEXUS_AGENT_PARALLEL_EXECUTION=
NEXUS_AGENT_PLANNER=
NEXUS_AGENT_SELECTOR=
NEXUS_AGENT_TIMEOUT_SECONDS=
NEXUS_AGENT_VERIFICATION_ENABLED=
NEXUS_ASSISTANT_MODEL=
NEXUS_ASSISTANT_PROVIDER=
NEXUS_BENCHMARK_ENABLED=
NEXUS_CAMERA_ENABLED=
NEXUS_CAMERA_MODE=
NEXUS_CONTEXT_ENABLED=
NEXUS_CONTEXT_MAX_ITEMS=
NEXUS_CONTEXT_MAX_TOKENS=
NEXUS_CONTEXT_RETENTION_ENABLED=
NEXUS_DEFAULT_PROVIDER=
NEXUS_DOCUMENT_ENABLED=
NEXUS_DOCUMENT_MAX_SIZE_MB=
NEXUS_EMBEDDING_PROVIDER=
NEXUS_ENABLE_CPU=
NEXUS_ENABLE_GPU=
NEXUS_ENABLE_QNN=
NEXUS_ENTITY_PROVIDER=
NEXUS_ENV=
NEXUS_FEEDBACK_ENABLED=
NEXUS_GEMINI_API_KEY=
NEXUS_INFERRED_PREFERENCES_ENABLED=
NEXUS_INTENT_PROVIDER=
NEXUS_LEARNING_POLICY_ENABLED=
NEXUS_LEARNING_PRIVACY_GUARD_ENABLED=
NEXUS_LOG_LEVEL=
NEXUS_LONG_TERM_MEMORY_ENABLED=
NEXUS_LONG_TERM_PREFERENCES_ENABLED=
NEXUS_MEMORY_AUTO_SAVE=
NEXUS_MEMORY_DB_PATH=
NEXUS_MEMORY_ENABLED=
NEXUS_MEMORY_EXPLANATIONS=
NEXUS_MEMORY_MAX_ITEMS=
NEXUS_MEMORY_RETRIEVAL_ENABLED=
NEXUS_MEMORY_STORAGE=
NEXUS_MODEL_CACHE_DIR=
NEXUS_MODEL_RETRAINING_ENABLED=
NEXUS_OCR_ENABLED=
NEXUS_OCR_PROVIDER=
NEXUS_OUTCOME_ANALYSIS_ENABLED=
NEXUS_PERCEPTION_ENABLED=
NEXUS_PERSONALIZATION_ENABLED=
NEXUS_PREFERENCE_APPROVAL_REQUIRED=
NEXUS_PREFERENCE_LEARNING_ENABLED=
NEXUS_PRIVACY_GUARD_ENABLED=
NEXUS_PROJECT_LEARNING_ENABLED=
NEXUS_PROJECT_MEMORY_ENABLED=
NEXUS_QNN_BACKEND=
NEXUS_QNN_LIB_PATH=
NEXUS_QNN_SDK_PATH=
NEXUS_RUNTIME_TELEMETRY=
NEXUS_SCREEN_CAPTURE_ENABLED=
NEXUS_SCREEN_CAPTURE_MODE=
NEXUS_SCREEN_ENABLED=
NEXUS_SESSION_LEARNING_ENABLED=
NEXUS_SESSION_MEMORY_ENABLED=
NEXUS_SPEECH_PROVIDER=
NEXUS_STORE_RAW_AUDIO=
NEXUS_STORE_RAW_CAMERA=
NEXUS_STORE_RAW_SCREEN=
NEXUS_TEXT_ENABLED=
NEXUS_TOOLS_ENABLED=
NEXUS_TOOL_APPROVAL_REQUIRED=
NEXUS_TOOL_AUDIT_ENABLED=
NEXUS_TOOL_AUTO_EXECUTE_SAFE_TASKS=
NEXUS_TOOL_BROWSER_ENABLED=
NEXUS_TOOL_DEFAULT_TIMEOUT_SECONDS=
NEXUS_TOOL_ENGINE_ENABLED=
NEXUS_TOOL_EXTERNAL_API_ENABLED=
NEXUS_TOOL_FILESYSTEM_ENABLED=
NEXUS_TOOL_MAX_FILE_SIZE_MB=
NEXUS_TOOL_MAX_OUTPUT_SIZE_MB=
NEXUS_TOOL_MAX_RETRIES=
NEXUS_TOOL_NETWORK_ENABLED=
NEXUS_TOOL_PATH_ALLOWLIST_ENABLED=
NEXUS_TOOL_SECRET_REDACTION_ENABLED=
NEXUS_VISION_ENABLED=
NEXUS_VISION_PROVIDER=
NEXUS_VOICE_ENABLED=
NEXUS_VOICE_MODE=
VITE_API_BASE_URL=